body {
    background: #fafff8;
    font-family: "Roboto", serif;
    color: #23191a;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-size: 2em;
    margin-top: 12px;
}

#doggy {
    display: inline;
    height: 2em;
    width: auto;
    vertical-align: middle;
    transform-origin: center center;
}

#people-amount {
    height: 23px;
    width: 30%;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button:hover {
    background: #d8f3e6;
}

.selected {
    background: #a9cbbf;
}

#tools div {
    margin-bottom: 10px;
    vertical-align: middle;
}

button {
    border-radius: 5%;
    height: 30px;
    width: 60px;
    background: #C8F3E5;
    outline: none;
    border: none;
    font-family: "Roboto Slab", serif;
    transition: background 100ms ease-in;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: "Roboto Slab", serif;
}

#git {
    display: block;
    margin: auto;
    cursor: pointer;
}
